[submodule "neovim-config"]
	path = modules/terminal/neovim/config
	url = https://git.orangepebble.net/OrangePebble/neovim-config
[submodule "essentia"]
	path = modules/music/essentia
	url = https://git.orangepebble.net/OrangePebble/essentia-nix
